footer{
    background-color: rgb(199, 61, 30);
    color: white;
    text-align: center;
    width: 100%;
    justify-content: center;
}
body{
    margin:0%;
    padding: 0%;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
}
#p1{
    color: white; 
    margin: 0; 
    font-size: 20px;
}
    