body {
    background-color:rgb(205, 192, 174);
    font-family: arial;
    margin: 0;
    padding: 0;
    
}

article {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

section{
    margin: 5px;
    padding: 10px;
    text-align: justify;
    border: 2px black solid;
    box-shadow:  2px 2px black;
    border-left: 10px solid red;
    border-radius: 15px;
    width: 33%;
}

#res {
    padding: 10px;
    margin: 5px;
}
#arc1 {
    display: flex;
    width: 100%;
}
#sla {
    text-align: center;
}
img {
    width: 128px;
    height: 128px;
}
iframe {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

main {
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    text-align: justify;
    border-left: 10px solid red;
    border-radius: 15px;
    
}
#card {
    background-color: rgb(205, 192, 174);
    justify-content: center;
}
#card:hover {
    transform: scale(1.05);
    
}
#banner {
    text-align: center;
width: 1470px;
height: 500px;
}

#img {
    text-align: center;
}

