body {
    background-color: rgb(205, 192, 174);
    font-family: arial;
    margin: 0;
    padding: 0;

}

article {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

section {
    margin: 5px;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-radius: 15px;

    border-left: 10px solid red;
    border-radius: 15px;
    width: 33%;
}

#res {
    padding: 10px;
    margin: 5px;
}

#arc1 {
    display: flex;
    width: 100%;
}

#sla {
    text-align: center;
}

img {
    width: 256px;
    height: 256px;
}

iframe {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

main {
    margin: 5px;
    padding: 10px;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-radius: 15px;
    text-align: justify;
    border-left: 10px solid red;
    border-radius: 15px;

}

#card {
    background-color: rgb(205, 192, 174);
    justify-content: center;
    
}
.card {
    text-align: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);

}

#banner {
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 97.5%;
    height: 500px;
}

#img {
    text-align: center;
}
.ç {
    text-align: justify;
}

