body {
    background-color:rgb(205, 192, 174);
    font-family: arial;
    margin: 0;
    padding: 0;
    
}

article {
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

section{
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    text-align: justify;
    box-shadow:  2px 2px black;
    border-left: 10px solid red;
}

#res {
    padding: 10px;
    margin: 5px;
}
#arc1 {
    display: flex;
}
#sla {
    text-align: center;
}
img {
    width: 128px;
    height: 128px;
}
iframe {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

main {
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    text-align: justify;
    box-shadow:  2px 2px black;
    border-left: 10px solid red;
}
