body {
    background-color:rgb(205 , 192, 174);
    padding: 0;
    margin: 0;
}
article {
    width: 50%;
    margin:auto;
    font-family: 'Courier New';
    text-align: center;
}
#botão {
    background-color:rgba(247, 176, 43, 0.868);
    width:150px;
    height: 50px;
    border-radius: 5px;
 font-family: 'Franklin Gothic Medium';
 font-size: 20px;
 margin: 10px;
}
#botão:hover{
font-size:25px;
width:170px;
height: 75px;
background-color:rgba(40, 211, 40, 0.774);
color: white;

}

#um {
    padding: 50px;
}
