body {
    background-color: rgb(205, 192, 174);
    font-family: arial;
    margin: 0;
    padding: 0;
}

.pai {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
}

section {
    margin: 5px;
    padding: 10px;
    text-align: justify;
    border-left: 10px solid red;
    text-align: center;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-radius: 15px;
}

#fel {

    text-align: justify;
}

#kk {
    text-align: center;
    ;
}

#ooo {
    text-align: center;

}

iframe {
    margin-bottom: -5px;

}

#imgg {
    margin-right: 18px;
}

.loi:hover {

    transform: scale(1.05);
}
@media (max-width: 650px) {
   .pai{
        display: flex;
        flex-direction: column;
    }
}