<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
      <div class="container">
        <a href="#" class="logo" target="_parent">
        <img src="../assets/imagens/logodesafio.png.png" alt="Logo do site" width="64px" height="64px">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html">Menu</a></li>
                <li><a href="../pages/pag1.html">Sobre</a></li>
                <li><a href="../pages/pag3.html">Contato</a></li>
            </ul>
        </nav>
      </div>
    </header>
</body>
</html>