<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/header.css">
</head>
<body>
    <header>
      <div class="container">
        <a href="#" class="logo" ></a>
        <a href="../index.html" target="_parent"><img src="../assets/imagens/logodesafio.png.png" alt="Logo do site" width="64px" height="64px"></a>
        </a>
        <nav>
            <ul>
                <li><a href="../index.html" target="_parent">Menu</a></li>
                <li><a href="../pages/pag1.html" target="_parent">Sobre</a></li>
                <li><a href="../pages/pag3.html"  target="_parent">Contato</a></li>
            </ul>
        </nav>
      </div>
    </header>
</body>
</html>